.hot_swiper {
  width: 100%;
  background-color: white;
  position: relative;
  border-radius: 20px;
}
.hot_film {
  position: relative;
}
.hot_swiper .feature {
  opacity: 0;
}
.thumbs {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  opacity: 0;
  right: 0;
  width: 100vh;
}
.box_thumb {
  overflow: hidden;
}
.box_thumb:hover .box_img {
  transform: scale(1.1);
  transition: all 0.7s ease;
}
.box_thumb:hover .ciPlay {
  transition: all 0.7s ease;

  opacity: 1;
}

.sw {
  position: relative;
  z-index: 9;
}
.sw::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(
    206deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  opacity: 0.65;
  transition: 0.5s;
  pointer-events: none;
}
.hot_swiper:hover .feature {
  transition: all 1s ease;
  opacity: 1;
}
.hot_swiper:hover::before {
  background: linear-gradient(
    206deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  opacity: 0.65;
  position: absolute;
  content: "";
  inset: 0;
  z-index: 2;
}
.hot_swiper:hover .title p:first-child {
  color: #1380e8;
}
.title_hot {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;
  text-transform: uppercase;
}
.btnHot button {
  padding: 7px 20px;
  margin-right: 20px;
  border-radius: 7px;
  font-weight: 400;
  border: 2px solid #1380e8;

  background-color: #1380e8;
}
.btnHot button:last-child {
  background-color: transparent;
}
/* btn action */
.btnActionLeft {
  position: absolute;
  bottom: 50px;
  left: 47%;
  z-index: 20;
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.btnActionRight {
  position: absolute;
  bottom: 50px;
  right: 47%;
  z-index: 20;
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
@media only screen and (max-width: 1500px) {
  .box_thumb {
    height: 300px;
  }
  .title_hot {
    width: 600px;
  }
  .btnHot {
    display: flex;
    align-items: center;
  }
}
