.product_color {
  background: rgb(19, 23, 32);
  background: linear-gradient(
    180deg,
    rgba(19, 23, 32, 1) 0%,
    rgba(19, 26, 37, 1) 100%
  );
}

.product .item {
  width: 100%;
  height: 350px;
  cursor: pointer;
}
.product .item .box_image {
  position: relative;
  transition: all 1s ease;
}

.product .item:hover .box_image {
  transform: scale(1.1);
  position: relative;
}
.product .item .box_image .icon_play {
  opacity: 0;
  visibility: hidden;
}
.product .item .box_image::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.8) 75%,
    rgba(0, 0, 0, 0.9) 100%
  );
  opacity: 0.1;
  transition: 0.5s;
}
.product .item:hover .box_image::before {
  opacity: 0.7;
}

.product .item:hover .box_image .icon_play {
  position: absolute;
  content: "";
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
  filter: blur(0);
  color: white;
  z-index: 10;
}
.product .item:hover .title p:first-child {
  color: var(--color);
}
/* card product */
.cardProduct .card {
  --main-color: #323232;
  --sub-color: #5b5b5b;
  --bg-color: #c7c7c7;
  --accent-color: #242c88;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--bg-color);
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 0px 0px 5px -1.5px #000;
}

.cardProduct .card::before {
  content: "";
  width: 99%;
  height: 99%;
  background: var(--sub-color);
  position: absolute;
  z-index: -1;
  top: 1px;
  left: 1px;
  border-radius: 25px;
  transition: all 0.3s;
}

.card__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card__img {
  width: 100%;
  border-radius: 15px;
}

.card__title {
  color: var(--main-color);
  font-weight: 900;
  font-size: 20px;
}

.card__subtitle {
  color: var(--sub-color);
  font-weight: 600;
  font-size: 16px;
}

.card__icon {
  width: 40px;
  height: 40px;
  transform: rotate(-45deg);
  transition: all 0.3s;
}

.card__icon svg {
  width: 100%;
  height: 100%;
}

.card__icon g {
  fill: var(--main-color);
}

.card__icon circle,
polyline,
line {
  stroke: var(--main-color);
}

.card:hover .card__icon {
  transform: rotate(0);
}

.card:hover .card__icon circle,
.card:hover .card__icon polyline,
.card:hover .card__icon line {
  stroke: var(--accent-color);
}

.card:hover .card__icon g {
  fill: var(--accent-color);
}

.card:hover {
  box-shadow: 0px 0px 20px -5px #000;
}

.card:hover::before {
  transform: rotate(10deg);
  box-shadow: 0px 0px 20px -5px #000;
}

/* remove svg from class ="card__img" and last styles below css code before use */
.st1 {
  fill: #fff;
}

.st2 {
  fill: none;
  stroke: #242c88;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st7 {
  fill: #589fff;
}

.st9 {
  fill: #bc8d66;
}

.st15,
.st16 {
  opacity: 0.4;
  fill: #242c88;
}

.st16 {
  opacity: 0.2;
}

.st18 {
  fill: #ffc408;
}

.st53 {
  fill: none;
  stroke: #242c88;
  stroke-width: 1.848;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
@media only screen and (min-width: 1500px) {
  .card__img {
    height: 300px;
  }
}
